.github
.vscode
coverage
docker
src
scripts
swagger
.commitlintrc.json
.dockerignore
.eslintignore
.eslintrc
.gitignore
.lintstagedrc.json
docker-compose.yaml
jest.config.js
Makefile
package.json
package-lock.json
sam_instructions.md
samconfig.toml
tsconfig.json
TODO
